[bumpversion]
current_version = 1.7.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:src/liana/__init__.py]
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}
